@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);


header {
    width: 100%;
    height: 129vh;
    background-image: url(../IMG/hero\ image.png);
     background-size: cover;  
     box-shadow: 0 400px 22px -150px #E5E5E5 ;
}
.navbar-logo {
    margin-left: 40px;
}
.navbar {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px ;
}
.navbar-link  {
    color: #fff;
    display: flex;
    gap: 20px;
   border-right: 1px solid #fff; 
   align-items: center;
   width: 26%;
   justify-content: center;
   height: 90%;
   margin-left: 280px;
                                                
}
.navbar-link a {
   color: #fff;
   font-family: 'Open Sans';
   font-weight: 700;
   

}
.navbar-order {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 35%;
    color: #fff;

}
.phone {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #fff;
}
.phone a {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;

}
.navbar-phone-number {
    display: flex;
    align-items: center;
    gap: 7px;
    
}
.btn {
    width: 40%;
    height: 60%;
    border: none;
    background: #FF7400;
    color: aliceblue;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 12px;
    cursor: pointer;
    transition: 0.5s;
   
}
.btn:hover {
    background: #574536;
}
.navbar-order-paragrph {
    font-family: 'Open Sans';
    font-weight: 400;
}
/* Header Navbar tugadi */
.header-left-box {
    color: #fff;
    margin-top: 180px;
    margin-left: 160px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome {
    color: #D67E35;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 48px;
}
.kitchen {
    color: #D67E35;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.header-left-box-dom {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}
.header-line {
    width: 18%;
    height: 2px;
}
.header-home {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}
.header-menu {
    border: none;
    font-family: 'Open Sans';
    font-weight: 600;
    background: #FF7400;
    width: 24%;
    height: 50px;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}
@media (max-width: 500px) {
    .header-line {
        display: block;
    
    }
}
